html{
scroll-behaviour:smooth;
}
.navbar {
    border-radius: 20px;
    background-color: black;
}
.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 4px;
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(18, 38, 173);
    border-radius: 8px;

}
.image {
    background-color:#60d5fc;
    height: 200px;
    width: 100%;
    /*filter: blur(2px);*/
   /* opacity: 0.5; */
}
#write {
    /* filter: blur(1px); */
    position: absolute;
            top: 90px;
            left: 350px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(34, 34, 139);
}
#logoleft{
    width:150px;
    height:150px;
    position: absolute;
            top: 85px;
            left: 50px;
}
#logoright{
    width:150px;
    height:150px;
    position: absolute;
            top: 90px;
            right: 30px;
}
#logoright1{
    width:150px;
    height:150px;
    position: absolute;
            top: 90px;
            right: 180px;
}
#write2{
height:35px;
background-color:black;
margin-right:10px;
 position: absolute;
            top: 240px;
    font-weight: bold;
    font-size: 25px;
    font-family: oswald;
    color: white;
}
.courses{
    display:flex;
    flex-wrap:wrap;
    padding-left: 20px;
    justify-content:center;
}
.dcourses a{
    color: #0a0a0a;
    background-color: transparent;
    text-decoration: none;
}
.dcourses a:hover {
  color: #1b14e0;
  background-color: transparent;
  text-decoration: none;
}


.dcourses{
    text-align: center;
    width: 20%;
    /*float: left;*/
    display: flex;
    flex-direction: row;
    flex-wrap:no-wrap;
    align-items:center;
    justify-content: center;
}
.dcourses span{
    line-height: 2.5;
    font-family: cursive;
    font-weight: bold;
    font-size: 18px;
    
}
.dcourses:hover{
    background-color: rgb(161, 196, 227);
}
.logo1{
    height:150px;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    justify-content:center;

}
.images img{
margin-left:20px;
    margin-right:20px;
    width:10%;
    height:60px;
    }

.text{
    margin-top: 50px;
    text-align: center;
}
.text span{
    font-family:sans-serif;
    color: #60d5fc;
    font-weight: bold;
    font-size: 28px;
}
.text pre{
    font-family:Verdana;
    font-size: 20px;
}
.stuimg{
    display: flex;
    justify-content:space-around;
}
.stuimg img{
width:18%;
height:200px;
}
.btn{
    margin-top: 80px;
    text-align: center;
}
.btn button{
    border-color: rgb(32, 32, 241);
    background-color: rgb(32, 32, 241);
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border-radius: 5px;
}
.btn button:hover{
    border-color: black;
    background-color: black;
    cursor: pointer;
}
table {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 96%;
    border: 1px solid #ddd;
  }
  th, td {
    font-family:Oswald;
    font-size: 20px;
    text-align: left;
    padding: 16px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }